@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #08090a;
    --secondary-color: #737373;
    --background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 42rem;
    font-family: "Inter", serif !important;
}

.hero-description {
    max-width: 500px;
    font-size: 20px;
}

.profile-image {
    height: 176px;
}

.title-text {
    font-weight: 800 !important;
}

.wavy-hand-small {
    display: none;
}

.headline-text {
    font-size: 20px;
    font-weight: 800;
}

.about-content p a {
    /* color: var(--primary-color); */
}

.education-image {
    height: 48px;
}

.education-content span {
    font-size: 14px;
}

.education-content small {
    font-size: 12px;
}

.education-year,
.experience-year {
    font-size: 13px;
}

.experience-content span,
.project-content span {
    font-size: 16px;
}

.experience-content small,
.project-content small {
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.experience-content p,
.project-content p {
    font-size: 13px;
    margin-top: 10px;
}

.experience-content,
.project-content {
    max-width: 450px;
}

.skill-tag {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-right: 2px;
    margin-bottom: 5px;
}

.project-image img {
    height: 100px;
}

.divider {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 0.5px;
    background-color: var(--secondary-color);
    margin: 5px;
}

.contact_input,
.contact_textarea {
    font-size: 13px;
    line-height: 26px;
    border: 1px solid #bdbdbd;
    box-shadow: none;
    width: 100%;
    outline: none;
    border-radius: 0px;
    resize: none;
    padding-left: 20px;
}

.contact_input {
    height: 40px;
}

.contact_submit {
    max-width: 42rem !important;
    background: #000;
    height: 40px;
    border: none;
    color: #fff;
}

.experience-year-small {
    display: none;
}

@media screen and (max-width: 768px) {
    .profile-image {
        height: 120px;
    }

    .hero-description {
        font-size: 16px;
    }

}

@media screen and (max-width: 425px) {
    main {
        padding: 10px;
    }

    .experience-year-div {
        display: none;
    }

    .wavy-hand {
        display: none;
    }

    .wavy-hand-small {
        display: block;
    }

    .experience-year-small {
        display: block;
        font-size: 13px !important;
    }
}

@media (max-width: 663px) {
    .d-flex-column-on-small {
        flex-direction: column !important;
    }

    .project-image {
        margin-bottom: 1rem;
        width: 100%;
        max-width: 450px;
    }
}